<CTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
  <script src="angular.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="angular.css"> 
  <title>Avatar Creator</title>
</head>
<body>
<div id="content">
<div ng-app='app' ng-controller='mainCtrl'>
<h1>Create New User</h1>

<form  name='userForm' ng-submit='addNew(userForm)'style="display:inline-block,; text-align:center;">
      <input placeholder='Name' ng-model='userForm.name'/>
      <input placeholder='Image Url' ng-model='userForm.url'/>
      <button type='submit'>Add New</button>
</form>

<ul class='User-list'>
 <li ng-repeat='user in users'>
    <avatar user ='user'/>     
 </li>
</div>
</body>
</html>

